export RAINFOREST_EAGLE_HOST=""
export RAINFOREST_EAGLE_MACID=""
export RAINFOREST_EAGLE_USERNAME=""
export RAINFOREST_EAGLE_PASSWORD=""
export RAINFOREST_EAGLE_REFRESH_INTERVAL=""
export INFLUXDB_HOST=""
export INFLUXDB_USERNAME=""
export INFLUXDB_PASSWORD=""
export PHOSCON_HOST=""
export PHOSCON_API_KEY=""

source_env_if_exists .envrc.private
# vi:syntax=bash
